@use 'colors.scss' as *;

#bottom-toolbar {
    position: absolute;
    left: 50%;
    bottom: 24px;
    height: 54px;
    transform: translate(-50%, 0);
    padding: 0px 32px;
    border-radius: 8px;
    min-width: 700px;

    background-color: $bcg-dark;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-toolbar-button, .bottom-toolbar-tool, .bottom-toolbar-toggle {
    display: flex;                // Make the button a flex container
    align-items: center;          // Center vertically
    justify-content: center;      // Center horizontally
    width: 50px; 
    height: 50px;
    margin: 0px 1px;
    padding: 0px;
    border: 0px;
    border-radius: 2px;
    font-weight: bold;

    &::before {
        font-size: 16px !important;
        line-height: 100%;
    }

    svg {
        color: $clr-default;
    }
}

.bottom-toolbar-separator {
    width: 2px;
    height: 38px;
    margin: 0px 10px;
    background-color: $bcg-primary;
}

.bottom-toolbar-button {
    svg {
        color: $clr-default;
    }
}

.bottom-toolbar-tool {
    background-color: $bcg-primary;

    svg {
        color: $clr-default
    }

    &.active {
        color: $clr-active;
        background-color: $clr-hilight !important;

        svg {
            color: $clr-active;
        }
    }

    &.disabled {
        background-color: $bcg-dark;
        svg {
            color: $clr-disabled;
        }
    }
}


.bottom-toolbar-toggle.active {
    &::before {
        color: $clr-hilight;
    }

    svg {
        color: $clr-hilight;
    }
}

#bottom-toolbar.collapsed {
    min-width: unset;
    width: auto;
    padding: 0 10px;
    justify-content: center;
    .bottom-toolbar-tool,
    .bottom-toolbar-toggle {
        display: none;
    }
    .always-visible {
        display: inline-flex !important;
    }
}

.toolbar-center-btn {
    color: #bd8600;
    font-weight: 900; // Extra bold
    letter-spacing: 0.4px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.toolbar-camera-btn {
    color: #007017;
    font-weight: 900; // Extra bold
    letter-spacing: 0.6px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.toolbar-remove-btn {
    color: #b32d2e;
    font-weight: 900; // Extra bold
    letter-spacing: 0.6px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
